$fuente_principal: "Montserrat", sans-serif;

// Colores
$rojo: #C51F1F;
$rojo-oscuro: #8A1212;
$azul: #1B3A7A;
$azul-claro: #2A7AC7;
$amarillo: #F1C40F;
$morado: #7D3C98;
$rosa: #E53A3A;
$negro: #111111;
$gris: #F4F4F4;
$gris-oscuro: #555555;
$blanco: #FFFFFF;
$verde: #1B3A7A;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
